@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Lato:300,400,400italic,900";
@import "normalize";
@import "boilerplate";

body {
  font-family: 'Lato', sans-serif;
  font-smoothing: antialiased;
  background-color: #445;
  color: rgba(#fff, 0.5);
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
}

.wrap {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.filter {
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  top: -10px;
  left: -10px;
  filter: blur(10px);
}

.content {
  margin: 6vw 0 0 4vw;
  width: 50vw;
  position: fixed;
  @media (max-width: 1023px) {
    margin: 6vw 0 0 4vw;
    width: 92vw;
  }
  @media (max-width: 767px) {
    margin: 30px auto 0;
    width: 100%;
  }
}

.avey {
  @media (max-width: 767px) {
    margin-left: 20px;
  }
  img {
    width: 122px;
    border: 3px solid #BBC;
    border-radius: 64px;
    @media (max-width: 767px) {
      width: 90px;
      border-radius: 48px;
    }
  }
}

.hello {
  font-weight: lighter;
  font-size: 3.6rem;
  line-height: 1.2;
  letter-spacing: -1px;
  margin: 1.6rem 0;
  color: rgba(#fff, 0.6);
  @media (max-width: 767px) {
    font-size: 1.8rem;
    margin: 1.6rem 20px;
  }
  strong {
    font-weight: 900;
  }
}

.about {
  @media (max-width: 767px) {
    padding: 0 20px;
  }
  p {
    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }
  a {
    font-weight: 400;
    color: rgba(#fff, 0.7);
    text-decoration: none;
    &:visited {
      text-decoration: line-through;
      color: rgba(#fff, 0.5);
    }
  }
  .small {
    margin-top: 30px;
    font-size: 0.8rem;
    color: rgba(#fff, 0.4);
  }
}

.filter { 
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
 }