.wrap
  .content
    .avey
      = image_tag "images/wafiq.jpg"

    h1.hello Hello! I’m <strong>Wafiq Rodzuan</strong>, <br> a Designer/Developer Generalist.

    .about
      p I’m a Tech Co-founder of <a href="http://www.helprnow.com" title="Helpr">Helpr</a>,
        and Product Builder at <a href="http://vi-fi.co" title="ViFi">ViFi</a>.
        Previously I work at <a href="http://www.kfit.com" title="GroupsMore">KFit</a>
        and <a href="http://www.groupon.my" title="GroupsMore">Groupon</a>.
      p I helped <a href="http://www.foodadvisor.my" title="FoodAdvisor">FoodAdvisor</a>,
        <a href="http://durians.500.co" title="500">500 Startups</a>,
        <a href="http://recomn.com" title="RecomN.com">RecomN.com</a>,
        <a href="http://www.thecanvas.my" title="The Canvas Network">The Canvas Network</a>,
        <a href="http://watchovermeapp.com/" title="WatchOverMe">WatchOverMe</a>,
        <a href="http://www.imoney.my/" title="iMoney">iMoney</a>,
        with their products ranging from landing pages, MVP, to full-fledged web apps.
      p I <a href="http://www.twitter.com/wfxyz" title="Twitter">tweet</a>,
        (rarely) <a href="http://wafiq.svbtle.com" title="Svbtle">write</a>,
        <a href="http://wafiq.vsco.co/" title="VSCO">take</a>
        <a href="http://instagram.com/wfxyz" title="Instagram">photo</a>,
        and <a href="http://wafiq.exposure.co/" title="Exposure">travel</a>.
      p.small And here is where I say some fine print, like this site is still a work in progress, or something.
      
  .scroll = image_tag "down.svg"
