.wrap
  .content
    .avey
      = image_tag "images/wafiq.jpg"

    h1.hello Hello! I’m <strong>Wafiq Rodzuan</strong>, <br> a Product Builder.

    .about
      p I’m a Tech Lead at <a href="#" title="Artsys">Artsys</a>,
        and Product Builder at <a href="https://vi-fi.co" title="ViFi">ViFi</a>.
        Previously I work at <a href="http://www.kfit.com" title="KFit">KFit</a>
        and <a href="http://www.groupon.my" title="Groupon">Groupon</a>.
        Currently building <a href="https://trynocturnal.com" title="Nocturnal">Nocturnal</a>
        and <a href="http://themacindex.com" title="The Mac Index">The Mac Index</a> on my spare time.

      p I helped
        <a href="http://www.helprnow.com" title="Helpr">Helpr</a>,
        <a href="http://amanz.me" title="Amanz Media">Amanz</a>,
        <a href="http://www.foodadvisor.my" title="FoodAdvisor">FoodAdvisor</a>,
        <a href="http://recommend.my" title="Recommend.my">Recommend</a>,
        <a href="http://www.imoney.my/" title="iMoney">iMoney</a>,
        with their products ranging from landing pages, MVP, to full-fledged web apps.
      p I <a href="http://twitter.com/wfxyz" title="Twitter">tweet</a>, sometimes
        <a href="http://medium.com/@wafiq" title="Medium">write</a>,
        <a href="http://wafiq.vsco.co/" title="VSCO">take</a>
        <a href="http://instagram.com/wfxyz" title="Instagram">photo</a>,
        and <a href="http://wafiq.nocturnal.site/" title="Nocturnal">travel</a>.
        Email me at [your desired greeting]@wafiq.co
      p.small And here is where I say some fine print, like this site is still a work in progress, or something.
      
  .scroll = image_tag "down.svg"
